<footer class="footer mt-auto">
  <div class="f-info container py-3">
    <!-- Social Media Icons -->
    <div class="f-info-socials mb-2 mb-md-0">
      <a href="#"><i class="fa-brands fa-facebook"></i></a>
      <a href="#"><i class="fa-brands fa-twitter"></i></a>
      <a href="#"><i class="fa-brands fa-instagram"></i></a>
      <a href="#"><i class="fa-brands fa-linkedin"></i></a>
    </div>

    <!-- Brand Text -->
    <div class="f-info-brand text-center">
      &copy; 2025 Ghoomo Private Ltd
    </div>

    <!-- Footer Links -->
    <div class="f-info-links mt-2 mt-md-0">
      <a href="/privacy">Privacy Policy</a>
      <a href="/terms">Terms & Conditions</a>
      <a href="/contact">Contact Us</a>
      <a href="/about">About Us</a>
      <a href="/help">Help</a>
      <a href="/sitemap">Site Map</a>
      <a href="/career">Careers</a>
      <a href="/blog">Blog</a>
      <a href="/press">Press</a>
      <a href="/gift-cards">Gift Cards</a>
      <a href="/collections">Collections</a>
      <a href="/host">Host</a>
      <a href="/inspiration">Inspiration</a>
      <a href="/community">Community</a>
      <a href="/magazine">Magazine</a>
      <a href="/ghoomo-new">Ghoomo New</a>
      <a href="/company-details">Company Details</a>
      <a href="/explore">Explore</a>
      <a href="/hosting">Hosting</a>
      <a href="/jobs">Jobs</a>
      <a href="/newsroom">Newsroom</a>
      <a href="/partners">Partners</a>
    </div>
  </div>
</footer>
