<nav class="navbar navbar-expand-md custom-navbar border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold text-light" href="/">
      <i class="fa-solid fa-street-view me-2"></i>WanderLust
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" href="/">Home</a>
        <a class="nav-link" href="/listings">All Listings</a>
        <a class="nav-link" href="/listings/new">Add New Listing</a>
      </div>
    </div>
  </div>
</nav>
