<% layout("layouts/boilerPlate") %>
<body>
    <ul>
        <h1>All Listings</h1>
        <!-- <form method="GET" action="/listings/new">
            <button>
                Create New Listing
            </button>
        </form><br><br> -->
        <% for (let listing of allListings) { %>
            <li>
                <a href="/listings/<%= listing._id %> "> <%= listing.title %> </a>
            </li>
            <li>
                <a href="/listings/<%= listing._id %> "> <%= listing.title %> </a>
            </li>
        <% } %>
    </ul>
</body>