<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wander Lust</title>
</head>
<body>
    <h1>Add new Listing</h1>
    <form method="POST" action="/listings">
        <input type="text" name="title" required placeholder="Enter Title"> <br>
        <textarea type="text" name="description" placeholder="Enter Description" required ></textarea> <br>
        <input type="number" name="price" placeholder="Price" required> <br>
        <input type="text" name="image" placeholder="Image URL"> <br>
        <input type="text" name="location" placeholder="Location" required> <br>
        <input type="text" name="country" placeholder="country" required> <br>
        <button type="submit">Create Listing</button>
</body>
</html>