body{
    background-color: thistle;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
a{
    color: darkblue;
}

/* Navbar */
.navbar{
    height: 5rem;
    backdrop-filter: blur(10rem);
}

.fa-street-view{
    color: #f14753;
    font-size: 2rem;
}
.nav-link{
    font-size: 1.2rem;
    margin-right: 1rem;
    color: black !important;
    font: 400;
}

/* Footer */
.f-info{
    display: flex;
    height: 6rem;
    border-top: 2px solid #786c6c;
    background-color: #e385ec;
    align-items: center;
    justify-content: center;
    align-items: space-around;
    flex-wrap: wrap;
    text-align: center;
}

.f-info-links, 
.f-info-socials,
.f-info-brand {
    width: 100%;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
}


.f-info-socials i{
    margin-right: 1rem;
    font-size: 1.3rem;
}

.f-info-links a{
    text-decoration: none;
    color: #222222 !important;
}

.f-info-links a:hover{
    text-decoration: underline;
}

/* Cards */
.card{
    border: none ;
    margin-bottom: 2rem;
    margin: 5px;
    padding: .5%;
    width: 100% !important;
}

.card-img-top{
    border-radius: 1rem;
    width: 100% !important;
    object-fit: cover;
    border-radius: 1%;
}

.card-body{
    padding: 0 !important;
}

.card-text{
    font-weight: 400 !important;
    font-family: "Plus Jakarta Sans", sans-serif !important;
    font-optical-sizing: auto !important;
    font-style: normal !important;
}

.listing-link{
    text-decoration: none;
}

/* card effect */

.card-img-overlay{
    opacity: 0;
}

.card:hover .card-img-overlay{
    background-color: rgb(255, 255, 255);
    opacity: 0.2;
    transition: all 0.3s ease-in-out;
    border-radius: 1rem;
}

/* boilerplate container */
.container{
    flex: 1;
}

/* Show.ejs operation */
.operation1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0px 20px;
}

.operation{
    display: flex;
    align-items: end;
    text-align: end;
    justify-content: end;
}

.op{
    justify-content: space-between;
    margin-right: 3rem;
    margin-bottom: 10px;
}